@page "/face-recognition"
@using BlazorAI.Services
@inject FacerecognitionService FacerecognitionService
@inject ILogger<FacerecognitionService> Logger

<h1>Face Recognition</h1>


    <img class="img-display" src="@imageUrl" />
    <div class="col">
        <form @onsubmit="ProcessImage">
            <InputFile OnChange="OnInputFileChange" />
            <br /><br />
            <button type="submit" class="btn btn-success">Start processing</button>
        </form>
    </div>

@code {

    private IBrowserFile file;
    string imageUrl;
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        file = e.File;
        if (file != null){
            imageUrl = Path.Combine("media", file.Name);
        }
    }

    private async Task UploadFileAsync(IBrowserFile file)
    {
        try
        {
            var path = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "media", file.Name);
            var memoryStream = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(memoryStream);
            await File.WriteAllBytesAsync(path, memoryStream.ToArray());
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while uploading file: ", ex.Message);
        }
    }

    private async Task ProcessImage()
    {
        if (file != null)
        {
            try
            {
                await UploadFileAsync(file);
                var fileName = await FacerecognitionService.ProcessImageAsync(file.Name);
                imageUrl = "/Media/"+fileName;;
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, "Error while processing image: ", ex.Message);
            }
        }
    }
}